# Project place file
/Tastemaker_New.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
/src/Tastemaker_shared.rbxl.lock
src/Tastemaker_shared.rbxl.lock
src/Tastemaker_shared.rbxl
./src/Tastemaker_shared.rbxl
/src/Scripting_map.rbxl
sourcemap.json
src/Scripting_Workspaces/voting_system.rbxl.lock
src/Tastemaker_shared.rbxl.orig
src/Scripting_Workspaces/game_timer_overhaul.rbxl.lock
src/Scripting_Workspaces/voting_system_2.rbxl.lock
